/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

.token {
    font-family: monospace;
    word-wrap: break-word;
}

.jwt {
  white-space: pre-wrap;
}