/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 70px; /* Margin bottom by footer height + 10 */
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

/* Custom CSS */
.token {
    font-family: monospace;
    word-wrap: break-word;
}

.jwt {
  white-space: pre-wrap;
}